.header-panel {
    height: 10vh; /* 전체 높이 10% */
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 공간을 배분 */
    align-items: center;
    padding: 0 20px; /* 좌우 여백 추가 */
}

.username {
    margin-left: 20px;
    font-size: 16px;
    color: #333;
}

.logout-button {
    padding: 8px 16px;
    background-color: #f44336; /* 빨간색 배경 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #d32f2f; /* 호버 시 배경색 변화 */
}
.content-panel{
    display: flex;
    height: 90vh; /* 전체 높이 90% */
    margin: 0;
    padding: 0;
}